/*-- scss:defaults --*/

// Background and text
$body-bg: #181818;
$body-color: #cccccc;

// Links
$link-color: #75AADB;

// Navbar (this fixes the blue bar)
$navbar-bg: #202020;   // dark background
$navbar-fg: #cccccc;   // text color
$navbar-hl: #75AADB;   // highlight color when hovering/active
